#root {
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
  background: linear-gradient(45deg, #3a6186, #89253e);
  height: 100%;
  padding-bottom: 70vh;
}

.headerImage {
  width: 100%;
  height: auto;
  max-height: 50vh;
}
